<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_app"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_app_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.FoodNFit"
        tools:targetApi="31">
        <activity
            android:name=".activity.UpdateInfoActivity"
            android:exported="true" />
        <activity
            android:name=".activity.ScanFoodActivity"
            android:exported="true" />
        <activity
            android:name=".activity.ExerciseInformationActivity"
            android:exported="true" />
        <activity
            android:name=".activity.ExerciseListActivity"
            android:exported="true" />
        <activity
            android:name=".activity.ChooseFoodActivity"
            android:exported="true" />
        <activity
            android:name=".activity.MealInformationActivity"
            android:exported="true" />
        <activity
            android:name=".activity.VerifyActivity"
            android:exported="true" />
        <activity
            android:name=".activity.OnboardingActivity"
            android:exported="true" />
        <activity
            android:name=".activity.ProfileActivity"
            android:exported="true" />
        <activity
            android:name=".activity.SettingActivity"
            android:exported="true" />
        <activity
            android:name=".activity.SetupActivity"
            android:exported="true" />
        <activity
            android:name=".activity.FoodDetailActivity"
            android:exported="true" />
        <activity
            android:name=".activity.SignUpActivity"
            android:exported="true" />
        <activity
            android:name=".activity.SignInActivity"
            android:exported="true" />
        <activity
            android:name=".MainActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>